::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(111, 111, 111);
}

::-webkit-file-upload-button {
    display: none;
}
